.container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.items {
  min-width: 100%;

}

.block1 {
  background-color: #ffcbcb;
}
.block2 {
  background-color: #add8e6;  
  flex-grow: 1;
}
.block3 {
  background-color: #90ee90;
}

.block2 div {
    background-color: white;
}